In [88]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [89]:
PATH_TO_DATA = 'Data/'
PATH_TO_DATA_EN = PATH_TO_DATA+"enwiki/"
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"

In [90]:
ENWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA_EN):
    if re.match(r"enwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_art.csv.gz", file):
        ENWIKI_ART_FNMS.append(file)
ENWIKI_RED_FNMS = []
for file in os.listdir(PATH_TO_DATA_EN):
    if re.match(r"enwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_red.csv.gz", file):
        ENWIKI_RED_FNMS.append(file)

In [91]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [92]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [93]:
df_title_count = None
for fn in ENWIKI_ART_FNMS:
    fn = PATH_TO_DATA_EN+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='ISO-8859-1',quotechar="'")

    df_red_links = df_articles[df_articles['is_red_link'] == True]
    df_title_count_tmp = pd.DataFrame(df_red_links.groupby('link_val').link_val.count())
    df_title_count_tmp.columns = ['link']
    df_title_count_tmp = df_title_count_tmp.reset_index(col_level=1)
    df_title_count_tmp.columns = ['link_title', 'in_count']
    
    if df_title_count is not None:
        df_title_count = df_title_count.append(df_title_count_tmp)        
        #print("append")
    else:
        df_title_count = df_title_count_tmp
        #print("assign")    
    df_title_count = df_title_count.groupby('link_title').in_count.sum().copy()
    df_title_count.columns = ['link']
    df_title_count = df_title_count.reset_index()
    df_title_count.columns = ['link_title', 'in_count']        
    print("df_title_count size: {}".format(df_title_count.shape))
    os.remove(fn_new)

Data/enwiki/enwiki-20180620-pages-meta-current01-p10p30303.xml_art.csv.gz
df_title_count size: (44436, 2)
Data/enwiki/enwiki-20180620-pages-meta-current02-p30304p88444.xml_art.csv.gz
df_title_count size: (111266, 2)
Data/enwiki/enwiki-20180620-pages-meta-current03-p88445p200507.xml_art.csv.gz
df_title_count size: (204494, 2)
Data/enwiki/enwiki-20180620-pages-meta-current04-p200511p352689.xml_art.csv.gz
df_title_count size: (328081, 2)
Data/enwiki/enwiki-20180620-pages-meta-current05-p352690p565313.xml_art.csv.gz
df_title_count size: (476863, 2)
Data/enwiki/enwiki-20180620-pages-meta-current06-p565314p892912.xml_art.csv.gz
df_title_count size: (626648, 2)
Data/enwiki/enwiki-20180620-pages-meta-current07-p892914p1268691.xml_art.csv.gz
df_title_count size: (790715, 2)
Data/enwiki/enwiki-20180620-pages-meta-current08-p1268692p1791079.xml_art.csv.gz
df_title_count size: (969745, 2)
Data/enwiki/enwiki-20180620-pages-meta-current09-p1791080p2336422.xml_art.csv.gz
df_title_count size: (1149560, 2)
Data/enwiki/enwiki-20180620-pages-meta-current10-p2336425p3046511.xml_art.csv.gz
df_title_count size: (1339545, 2)
Data/enwiki/enwiki-20180620-pages-meta-current11-p3046514p3926861.xml_art.csv.gz
df_title_count size: (1552327, 2)
Data/enwiki/enwiki-20180620-pages-meta-current12-p3926863p5040436.xml_art.csv.gz
df_title_count size: (1754972, 2)
Data/enwiki/enwiki-20180620-pages-meta-current13-p5040438p6197594.xml_art.csv.gz
df_title_count size: (1980430, 2)
Data/enwiki/enwiki-20180620-pages-meta-current14-p6197598p7697598.xml_art.csv.gz
df_title_count size: (2168120, 2)
Data/enwiki/enwiki-20180620-pages-meta-current14-p7697598p7744799.xml_art.csv.gz
df_title_count size: (2174465, 2)
Data/enwiki/enwiki-20180620-pages-meta-current15-p7744803p9244803.xml_art.csv.gz
df_title_count size: (2359430, 2)
Data/enwiki/enwiki-20180620-pages-meta-current15-p9244803p9518048.xml_art.csv.gz
df_title_count size: (2387181, 2)
Data/enwiki/enwiki-20180620-pages-meta-current16-p11018050p11539266.xml_art.csv.gz
df_title_count size: (2443760, 2)
Data/enwiki/enwiki-20180620-pages-meta-current16-p9518050p11018050.xml_art.csv.gz
df_title_count size: (2607889, 2)
Data/enwiki/enwiki-20180620-pages-meta-current17-p11539268p13039268.xml_art.csv.gz
df_title_count size: (2807327, 2)
Data/enwiki/enwiki-20180620-pages-meta-current17-p13039268p13693071.xml_art.csv.gz
df_title_count size: (2869328, 2)
Data/enwiki/enwiki-20180620-pages-meta-current18-p13693074p15193074.xml_art.csv.gz
df_title_count size: (3029650, 2)
Data/enwiki/enwiki-20180620-pages-meta-current18-p15193074p16120542.xml_art.csv.gz
df_title_count size: (3107753, 2)
Data/enwiki/enwiki-20180620-pages-meta-current19-p16120543p17620543.xml_art.csv.gz
df_title_count size: (3219084, 2)
Data/enwiki/enwiki-20180620-pages-meta-current19-p17620543p18754735.xml_art.csv.gz
df_title_count size: (3314193, 2)
Data/enwiki/enwiki-20180620-pages-meta-current20-p18754736p20254736.xml_art.csv.gz
df_title_count size: (3440849, 2)
Data/enwiki/enwiki-20180620-pages-meta-current20-p20254736p21222156.xml_art.csv.gz
df_title_count size: (3520252, 2)
Data/enwiki/enwiki-20180620-pages-meta-current21-p21222158p22722158.xml_art.csv.gz
df_title_count size: (3681817, 2)
Data/enwiki/enwiki-20180620-pages-meta-current21-p22722158p23927983.xml_art.csv.gz
df_title_count size: (3804498, 2)
Data/enwiki/enwiki-20180620-pages-meta-current22-p23927984p25427984.xml_art.csv.gz
df_title_count size: (3973579, 2)
Data/enwiki/enwiki-20180620-pages-meta-current22-p25427984p26823660.xml_art.csv.gz
df_title_count size: (4100323, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p26823661p28323661.xml_art.csv.gz
df_title_count size: (4241794, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p28323661p29823661.xml_art.csv.gz
df_title_count size: (4362625, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p29823661p30503449.xml_art.csv.gz
df_title_count size: (4410274, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p30503451p32003451.xml_art.csv.gz
df_title_count size: (4563995, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p32003451p33503451.xml_art.csv.gz
df_title_count size: (4727518, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p33503451p33952815.xml_art.csv.gz
df_title_count size: (4773263, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p33952816p35452816.xml_art.csv.gz
df_title_count size: (4884426, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p35452816p36952816.xml_art.csv.gz
df_title_count size: (5017306, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p36952816p38067202.xml_art.csv.gz
df_title_count size: (5104712, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p38067203p39567203.xml_art.csv.gz
df_title_count size: (5224882, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p39567203p41067203.xml_art.csv.gz
df_title_count size: (5347201, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p41067203p42567203.xml_art.csv.gz
df_title_count size: (5463635, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p42567203p42663461.xml_art.csv.gz
df_title_count size: (5470730, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p42663462p44163462.xml_art.csv.gz
df_title_count size: (5596940, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p44163462p45663462.xml_art.csv.gz
df_title_count size: (5706842, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p45663462p47163462.xml_art.csv.gz
df_title_count size: (5781737, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p47163462p48663462.xml_art.csv.gz
df_title_count size: (5878975, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p48663462p50163462.xml_art.csv.gz
df_title_count size: (5974308, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p50163462p51663462.xml_art.csv.gz
df_title_count size: (6077884, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p51663462p53163462.xml_art.csv.gz
df_title_count size: (6160013, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p53163462p54663462.xml_art.csv.gz
df_title_count size: (6251731, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p54663462p56163462.xml_art.csv.gz
df_title_count size: (6361202, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p56163462p57663462.xml_art.csv.gz
df_title_count size: (6485803, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p57663462p57726175.xml_art.csv.gz
df_title_count size: (6489090, 2)

In [94]:
df_title_count = df_title_count.sort_values(['in_count'], ascending=[0])

In [95]:
df_title_count.to_csv(PATH_TO_DATA_EN+'enwiki-20180620-red_name_count.csv', index = False, encoding='ISO-8859-1', quotechar="'", escapechar ="\\")

In [96]:
df_title_count

                                          link_title  in_count
2057820                                  FIN tbl#405     18514
2057816                                  FIN tbl#401     15182
2057817                                  FIN tbl#402     12445
2057879                                  FIN tbl#606     11955
6446119                               village#Russia      8940
3948780                            Midfielder#Winger      8166
1668348    Defender (association football)#Full-back      8001
1668336  Defender (association football)#Centre-back      7371
2057819                                  FIN tbl#404      7257
2057834                                  FIN tbl#502      6848
36                                                        6568
6331789                                           ]]      6023
2057878                                  FIN tbl#605      5671
2057875                                  FIN tbl#602      5230
2057874                                  FIN tbl#601      4961
2159618       Forward (association football)#Striker      4711
3513734           List of South Korean films of 19xx      4451
3948697              Midfielder#Attacking midfielder      3609
2057838                                  FIN tbl#506      3402
3948747              Midfielder#Defensive midfielder      3215
2057807                                  FIN tbl#003      2975
2057848                                  FIN tbl#516      2816
2057846                                  FIN tbl#514      2715
1878095           Education in Switzerland#Secondary      2697
2057837                                  FIN tbl#505      2538
6451429                                {{Fb position      2530
2313951          German Type VII submarine#Type VIIC      2329
3948719                Midfielder#Central midfielder      2325
57536                                         #Final      2207
5635634                     Tennis court#Hard courts      2204
...                                              ...       ...
2473406                           HMS Staunch (1868)         1
2473403                                  HMS Statice         1
2473402              HMS Stathouse van Harlem (1667)         1
2473401                           HMS Starwort (K20)         1
2473400                                 HMS Starwort         1
2473399                            HMS Starling (U6)         1
2473398                          HMS Starling (1817)         1
2473397                          HMS Starling (1805)         1
2473420                           HMS Striker (L128)         1
2473423                               HMS Stronghold         1
2473449                           HMS Swallow (1573)         1
2473424                        HMS Stronghold (H 50)         1
2473448                           HMS Swallow (1544)         1
2473447                          HMS Surprize (1778)         1
2473445                            HMS Supply (1854)         1
2473444                            HMS Supply (1672)         1
2473442                                HMS Sunflower         1
2473441                               HMS Sundew K57         1
2473437                           HMS Success (1800)         1
2473436                           HMS Success (1740)         1
2473433                           HMS Success (1660)         1
2473432                           HMS Success (1658)         1
2473431                              HMS Styx (1841)         1
2473430                          HMS Sturgeon (1917)         1
2473429                             HMS Sturdy (H28)         1
2473428                            HMS Stuart Prince         1
2473427                                   HMS Stuart         1
2473426                              HMS Strule K258         1
2473425                         HMS Stronghold (H50)         1
6489089                                         ð«         1

[6489090 rows x 2 columns]

In [97]:
df_title_count.describe()

           in_count
count  6.489090e+06
mean   1.795265e+00
std    1.671814e+01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    2.000000e+00
max    1.851400e+04

In [98]:
df_count_by_count = pd.DataFrame(df_title_count.groupby('in_count').in_count.count())

In [99]:
df_count_by_count.columns = ['link']
df_count_by_count = df_count_by_count.reset_index()
df_count_by_count.columns = ['count', 'in_count']

In [100]:
df_count_by_count = df_count_by_count.sort_values(['count'], ascending=[1])

In [101]:
df_count_by_count

     count  in_count
0        1   4822884
1        2    912740
2        3    304935
3        4    149647
4        5     81130
5        6     52393
6        7     34776
7        8     24848
8        9     18224
9       10     14098
10      11     10812
11      12      8648
12      13      6676
13      14      5716
14      15      4546
15      16      3880
16      17      3235
17      18      2740
18      19      2416
19      20      2193
20      21      1801
21      22      1616
22      23      1411
23      24      1246
24      25      1104
25      26       985
26      27       910
27      28       847
28      29       719
29      30       706
..     ...       ...
527   2204         1
528   2207         1
529   2325         1
530   2329         1
531   2530         1
532   2538         1
533   2697         1
534   2715         1
535   2816         1
536   2975         1
537   3215         1
538   3402         1
539   3609         1
540   4451         1
541   4711         1
542   4961         1
543   5230         1
544   5671         1
545   6023         1
546   6568         1
547   6848         1
548   7257         1
549   7371         1
550   8001         1
551   8166         1
552   8940         1
553  11955         1
554  12445         1
555  15182         1
556  18514         1

[557 rows x 2 columns]

In [102]:
df_count_by_count.describe()

              count      in_count
count    557.000000  5.570000e+02
mean     713.721724  1.165007e+04
std     1612.368625  2.083902e+05
min        1.000000  1.000000e+00
25%      140.000000  1.000000e+00
50%      293.000000  2.000000e+00
75%      630.000000  1.100000e+01
max    18514.000000  4.822884e+06

In [103]:
df_count_by_count.to_csv(PATH_TO_DATA_EN+'enwiki-20180620-red_count_by_count.csv', index = False, encoding='ISO-8859-1', quotechar="'", escapechar ="\\")

In [104]:
%notebook -e foo.ipynb