In [1]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [2]:
PATH_TO_DATA = 'Data/'
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"

In [3]:
UKWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA_UK):
    if re.match(r"ukwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_art.csv.gz", file):
        UKWIKI_ART_FNMS.append(file)

In [4]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [5]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [17]:
total_links_count = 0
total_red_links_count = 0
df_title_count = None
for fn in UKWIKI_ART_FNMS:
    fn = PATH_TO_DATA_UK+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='UTF-8', quotechar="\"")
    total_links_count += df_articles.shape[0]
    df_red_links = df_articles[df_articles['is_red_link'] == True]
    total_red_links_count += df_red_links.shape[0]
    
    df_title_count_tmp = pd.DataFrame(df_red_links.groupby('link_val').link_val.count())
    df_title_count_tmp.columns = ['link']
    df_title_count_tmp = df_title_count_tmp.reset_index(col_level=1)
    df_title_count_tmp.columns = ['link_title', 'in_count']
    
    if df_title_count is not None:
        df_title_count = df_title_count.append(df_title_count_tmp)        
        #print("append")
    else:
        df_title_count = df_title_count_tmp
        #print("assign")    
    df_title_count = df_title_count.groupby('link_title').in_count.sum().copy()
    df_title_count.columns = ['link']
    df_title_count = df_title_count.reset_index()
    df_title_count.columns = ['link_title', 'in_count']    
    print("total_links_count : {}".format(total_links_count))
    print("total_red_links_count : {}".format(total_red_links_count))
    print("df_title_count size: {}".format(df_title_count.shape))
    os.remove(fn_new)

Data/ukwiki/ukwiki-20180620-pages-meta-current01-p1p5503942.xml_art.csv.gz
total_links_count : 5520945
total_red_links_count : 515075
df_title_count size: (378866, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current02-p5503943p11007884.xml_art.csv.gz
total_links_count : 11031804
total_red_links_count : 1205379
df_title_count size: (777999, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current03-p11007885p16511825.xml_art.csv.gz
total_links_count : 16543358
total_red_links_count : 2207767
df_title_count size: (1316443, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current04-p16511826p22015766.xml_art.csv.gz
total_links_count : 22047282
total_red_links_count : 2838631
df_title_count size: (1554036, 2)

In [7]:
df_title_count = df_title_count.sort_values(['in_count'], ascending=[0])

In [8]:
df_title_count.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-red_name_count.csv', index = False, encoding='UTF-8', quotechar="\"")

In [9]:
df_title_count

                                     link_title  in_count
45                                    (сузір'я)     15716
1234259                                  Сеніор      1660
1454066                            ацетилювання      1619
1135221                     Подравський регіон‎      1298
1458520                          білок розвитку       942
1163992               Південно-Східна Словенія‎       852
1458518   білок внутрішньоклітинного сигналінгу       821
1080268                  Обсерваторія Галеакала       786
683126                              Генрі Гольт       734
612304                          Велика_Британія       731
889886                          Корадо Корлевіч       723
1386145                Центр учбової літератури       721
1263412                          Станція Сінлун       719
913776                   Кубок світу з боротьби       718
1200836             Руденко Ірина Станіславівна       543
602930            Вакуленко Олена Володимирівна       542
1173165            Радченко Вероніка Вікторівна       542
1245181             Скуратович Олег Ярославович       537
1226484                      Світ (видавництво)       521
1393165                   Чанцева Ніна Іванівна       494
772747                  Дубович Іван Андрійович       487
309619                                     ODAS       462
1080377                  Обсерваторія Ондржейов       455
665418                          Віржіні Раззано       450
998784                            Меган Шонессі       431
390132                                    Soest       415
942918            Лиховцева Олена Олександрівна       415
669372                         Габрово (община)       415
1192742            Родіонова Анастасія Іванівна       414
474970                           Івета Бенешова       402
...                                         ...       ...
571792                               Блайс Хаус         1
571791                             Блайро Маггі         1
571790                                Блайндорф         1
571789                  Блайнд Міссісіпі Морріс         1
571787                        Блайнд Гері Девіс         1
571782                            Блайнай-Гвент         1
571781                            Блайн Вайлдар         1
571780                        Блайлохтальшперре         1
571779                             Блайкф'єллет         1
571804                          Блакитна Дорога         1
571805                          Блакитна Затока         1
571807                 Блакитна Тетяна Іванівна         1
571823            Блакитна лагуна (фільм, 2012)         1
571833               Блакитна троянда (живопис)         1
571831                         Блакитна пустеля         1
571830                           Блакитна пляма         1
571829                            Блакитна нота         1
571828           Блакитна мечеть (Мазарі-Шариф)         1
571826          Блакитна майка «Джиро д'Італія»         1
571824                        Блакитна ластівка         1
571822                    Блакитна кров (фільм)         1
571811                    Блакитна велика чапля         1
571821              Блакитна кров (телесеріал)          1
571818   Блакитна компактна карликова галактика         1
571817                          Блакитна затока         1
571816            Блакитна діра (Червоне море)          1
571814                  Блакитна година (фільм)         1
571813                        Блакитна гарденія         1
571812                   Блакитна вуаль (фільм)         1
1554035                                       ﾟ         1

[1554036 rows x 2 columns]

In [10]:
df_title_count.describe()

           in_count
count  1.554036e+06
mean   1.826619e+00
std    1.388654e+01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    1.571600e+04

In [11]:
df_count_by_count = pd.DataFrame(df_title_count.groupby('in_count').in_count.count())

In [12]:
df_count_by_count.columns = ['link']
df_count_by_count = df_count_by_count.reset_index()
df_count_by_count.columns = ['count', 'in_count']

In [13]:
df_count_by_count = df_count_by_count.sort_values(['count'], ascending=[1])

In [14]:
df_count_by_count.head()

   count  in_count
0      1   1177349
1      2    203923
2      3     68509
3      4     33236
4      5     18475

In [15]:
df_count_by_count.describe()

              count      in_count
count    318.000000  3.180000e+02
mean     249.616352  4.886906e+03
std      893.529776  6.708325e+04
min        1.000000  1.000000e+00
25%       80.250000  1.000000e+00
50%      159.500000  4.000000e+00
75%      248.750000  2.175000e+01
max    15716.000000  1.177349e+06

In [16]:
df_count_by_count.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-red_count_by_count.csv', index = False, encoding='UTF-8', quotechar="\"")